<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.festival.tacademy.festivalmate">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/mate_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoTitle">
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MyPage.LetsGoListActivity" />
        <activity android:name=".MyPage.JoinWaitListActivity" />
        <activity android:name=".MyPage.SettingsActivity" />
        <activity android:name=".Preference.PreferenceActivity" />
        <activity android:name=".MyPage.QuestionActivity" />
        <activity android:name=".MateMatching.MateMatchingStartActivity" />
        <activity android:name=".MyPage.FestibalSearchActivity" />
        <activity android:name=".MateMatching.MateMatchingActivity" />
        <activity android:name=".MateMatching.MakeMateTalkActivity" />
        <activity android:name=".FestivalInfo.FestivalDetailActivity" />
        <activity android:name=".MyPage.TermsOfUsePrivacyPolicyActivity"></activity>
    </application>

</manifest>